<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cerveza Patagonia</title>
</head>
<body>
 <div class="home-wrapper-info home-panel">
     <div class="form-home-wrapper-steps" style="background: transparent; width: 100%;">
      <img src="/images/logo-color.png" alt="" class="logo-home">
     </div>
     <div class="navigation-wrapper">
       <a href="/vouchers-totales">Vouchers Canjeados</a>
     </div>
   <div class="step-counter-code vouchers-canjeados">
       <span>TOTAL USUARIOS DE LA APLICACIÓN: {{users.length}}</span>
    </div>
    <table class="vouchers-table">
      <tr>
        <th>No.</th>
        <th>DNI</th>
      <th class="user-cell">Usuario</th>
      <th>Kilómetros Actuales</th>
      <th class="no-mobile">Kilómetros Utilizados</th>
      <th class="no-mobile">Kilómetros Totales</th>
      <th class="no-mobile">Códigos Cargados</th>
      <th class="no-mobile">Vouchers Canjeados</th>
      </tr>
       {{#each users}}
       <tr>
         <td>{{@index}}</td>
        <td>{{this.dni}}</td>
        <td>{{this.name}} {{this.lastName}}</td>
        <td>{{this.kmsAvailable}}</td>
        <td class="no-mobile">{{minus this.kmsTotal this.kmsAvailable}}</td>
        <td class="no-mobile">{{this.kmsTotal}}</td>
        <td class="no-mobile">{{this.codes.length}}</td>
        <td class="no-mobile">{{this.vouchers.length}}</td>
      </tr>
      {{/each}}
      
    </table>
<div class="logout-button">
    <a href="/logout">Cerrar Sesión</a>
  </div>
</div>
  <script src='/javascripts/script.js'></script>
</body>
</html>