<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cerveza Patagonia Paraguay</title>
</head>
<body>
 <div class="home-wrapper-info home-panel">
     <div class="form-home-wrapper-steps" style="background: transparent; width: 100%;">
      <img src="/images/logo-color.png" alt="" class="logo-home">
     </div>
     <div class="navigation-wrapper">
       <a href="/info-promo">Info Promo</a>
       <a href="/usuarios">LISTA USUARIOS</a>
       <a href="/vouchers-generados">Vouchers Generados</a>
     </div>
   <div class="step-counter-code vouchers-canjeados">
       <span>TOTAL VOUCHERS CANJEADOS: {{vouchers.length}}</span>
    </div>
    <table class="vouchers-table">
      <tr>
      <th>No.</th>
      <th>Usuario</th>
      <th class="no-mobile">Kilómetros</th>
      <th>Premio</th>
      <th class="no-mobile">Fecha</th>
      <th>Centro</th>
      </tr>
       {{#each vouchers}}
       <tr>
        <td>{{@index}}</td>
       <td>{{this.user.name}} {{this.user.lastName}}</td>
       <td class="no-mobile">{{this.prize.kms}}</td>
       <td>{{this.prize.name}}</td>
      <td class="no-mobile">{{dateFormat this.updated_at "DD/MM/YYYY, h:mm:ss a"}}</td>
      <td>{{this.centro.dni}}</td>
      </tr>
      {{/each}}
      
    </table>
<div class="logout-button">
    <a href="/logout">Cerrar Sesión</a>
  </div>
</div>
  <script src='/javascripts/script.js'></script>
</body>
</html>