<div class="home-wrapper-info">
    <h2 class="main-title">¡TU VIAJE HASTA BARILOCHE HA COMENZADO!</h2>
  <p class="main-p">A medida que vayas acumulando kilómetros, podrás ver en el mapa donde te encuentras en tu camino hasta Bariloche.</p>
  <div class="home-info">
    <div class="map-wrapper"> 
    <p class="kilometers-left">Te faltan<span> {{user.kmsToBariloche}} </span> kilómetros</p>
      <div class="map-image-wrapper">

      </div>
      <div id="map-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" heigth="100%">
        <path x="0" y="0" fill-opacity="0" stroke-width="5" stroke="#e6e6e650" d="M211,0 C198.523231,8.16382398 189.700916,20.8385394 186.386649,35.3611521 C184.508048,43.783977 184.272302,53.2366669 178.474425,59.6365426 C176.780001,61.505012 174.687755,62.9983164 173.052268,64.9182791 C170.842149,67.5076541 169.589749,70.7370166 168.366817,73.9001735 C163.01833,87.7150776 157.588806,102.589271 160.896617,117.000026 C161.478615,119.55262 162.370029,122.105214 162.171118,124.724014 C161.662791,132.550988 152.99176,136.611599 146.32457,140.753128 C135.36975,147.557593 126.84606,160.129303 129.085646,172.811355 C129.645543,175.981869 130.853741,179.218587 130.02863,182.330251 C127.818512,190.789857 114.056842,190.194006 109.857617,197.866501 C107.338082,202.464113 108.605216,209.474551 103.963968,211.983008 C102.402151,212.828969 100.516183,212.86575 98.9175308,213.630792 C96.0443769,214.999042 94.73304,218.309322 92.5376558,220.611806 C85.8115289,227.673738 72.6465906,223.966224 65.6184142,230.704484 C64.0786984,232.175719 62.9736392,234.029477 61.5223281,235.588986 C59.584791,237.670785 57.1020914,239.142021 54.6709612,240.627969 C34.7441008,252.804932 16.3840584,267.370477 0,284"/>
        <path id="heart-path" class="cls-1" fill-opacity="0" stroke-width="5" stroke="#DBAD44" d="M211,0 C198.523231,8.16382398 189.700916,20.8385394 186.386649,35.3611521 C184.508048,43.783977 184.272302,53.2366669 178.474425,59.6365426 C176.780001,61.505012 174.687755,62.9983164 173.052268,64.9182791 C170.842149,67.5076541 169.589749,70.7370166 168.366817,73.9001735 C163.01833,87.7150776 157.588806,102.589271 160.896617,117.000026 C161.478615,119.55262 162.370029,122.105214 162.171118,124.724014 C161.662791,132.550988 152.99176,136.611599 146.32457,140.753128 C135.36975,147.557593 126.84606,160.129303 129.085646,172.811355 C129.645543,175.981869 130.853741,179.218587 130.02863,182.330251 C127.818512,190.789857 114.056842,190.194006 109.857617,197.866501 C107.338082,202.464113 108.605216,209.474551 103.963968,211.983008 C102.402151,212.828969 100.516183,212.86575 98.9175308,213.630792 C96.0443769,214.999042 94.73304,218.309322 92.5376558,220.611806 C85.8115289,227.673738 72.6465906,223.966224 65.6184142,230.704484 C64.0786984,232.175719 62.9736392,234.029477 61.5223281,235.588986 C59.584791,237.670785 57.1020914,239.142021 54.6709612,240.627969 C34.7441008,252.804932 16.3840584,267.370477 0,284"/>
      </svg>
    </div>
    </div>
    <div class="info-wrapper">
    <p class="info-container">
      KMS ACUMULADOS
      <span>{{user.kmsAvailable}}</span>
    </p>
    <p class="info-container">
      CÓDIGOS CARGADOS
      <span>{{user.codesQ}}</span>
    </p>
    <p class="info-container">
      PREMIOS CANJEADOS
      <span>{{user.vouchersQ}}</span>
    </p>
  </div>
  </div>
  <script>
    let kmsAvailable = "{{user.kmsAvailable}}";
  </script>

  


    

    
 
 
</div>