<div class="home-wrapper-info">
  <div class="consumos-message-wrapper">
    <span>
      <img src="/images/passport.png" alt="">
      {{user.kmsAvailable}}kms
    </span>
    <p>DISPONIBLES</p>
  </div>

  <div class="step-counter-home">
    <span> VIAJE A BARILOCHE</span>
  </div>
  <div class="viaje-a-bariloche-wrapper">
    <div class="kms-a-bariloche-wrapper">

    
    <div class="canje-item-wrapper">
      <div class="canje-item">
        {{#if user.finalPrize}}
          <div class="image-item-container active" style="background-image: url('images/avion-c.jpg'); background-size: cover;">

          </div>
        {{/if}}
        {{#unless user.finalPrize}}
        <div class="image-item-container" style="background-image: url('images/avion-c.jpg'); background-size: cover;"></div>
        <p>
          ¡Faltan
          <span> {{user.kmsToBariloche}} kms</span>
          para Bariloche!
        </p>
        {{/unless}}
      </div>
      {{#if user.finalPrize}}
        <button class="btn voucher voucher-button" id="voucher-generate" data-value="5c9388d54bf0178cca021b6d">CANJEAR</button>
      {{/if}}
    </div>
    </div>
    <div class="viaje-info-wrapper">
    <p style="text-align: center;">Que incluye el viaje?</p>
    <ul>
      <li>Pasaje en avión ida y vuelta a Bariloche</li>
      <li>Estadía en un Hotel en Bariloche durante 3 noches</li>
      <li>Viático para 4 días</li>
      <li>Entrada a la Microcerveceria Patagonia</li>
      <li>Merchandising de la marca</li>
    </ul>
    <p style="font-weight: 200; font-size: 10px; text-align: left; margin-top: 10px;">*El viaje será válido para 2 (dos) personas.</p>
    </div>
    
    
  </div>

  <div class="step-counter-home">
    <span> CANJES DISPONIBLES</span>
  </div>
  <p class="cargar-codigo-paragraph premios mobile">PARA CANJEAR UN PREMIO SOLO TIENES QUE HACER CLICK EN EL BOTÓN <strong>CANJEAR</strong> Y AUTOMÁTICAMENTE SE GENERARÁ UN VOUCHER QUE LO RECIBIRÁS EN TU EMAIL.</p>
  <div class="canjes-wrapper premios mobile">
    {{#each prizes}}
    {{#if this.regularPrize}}
    <div class="canje-item-wrapper">
      <div class="canje-item">
        {{#if available}}<div class="image-item-container active" style="background-image: url('{{this.image}}')"></div>{{/if}}
        {{#unless available}}
        <div class="image-item-container" style="background-image: url('{{this.image}}')"></div>
        <p>
          Faltan
          <span> {{this.kmsLeft}} kms</span>
        </p>
        {{/unless}}
      </div>
      <p>{{this.name}}</p>
      {{#if available}}
        <button class="btn voucher voucher-button" id="voucher-generate" data-value="{{this._id}}">CANJEAR</button>
      {{else}}
      <button class="btn voucher voucher-button-disabled" disabled data-value="{{this._id}}">CANJEAR</button>
      {{/if}}
    </div>
    {{/if}}
    {{/each}}
  </div>
  <span style="color:#fff; font-size: 0.7rem">*Premios Exclusivos Sujetos a Stock</span>
  <div class="api-response" id="response-message-voucher">
    <div class="response-wrapper">
      <p id="main-message"></p>
      <p id="secondary-message"></p>
      <p id="instructions-message"></p>
      <a href="" class="btn" id="redirection-button"></a>
    </div>
  </div>
</div>