<div class="profile-info-wrapper">
  <div class="info-row">
    <div class="personal-info-text">
      <h3>{{user.name}} {{user.lastName}}</h3>
      <h4>{{user.dni}}</h4>
      <p>{{user.formatDate}}</p>
      
    </div>
  </div>
  <p style="text-align: center; margin-top: 30px; font-size: 1.5rem; width: 60%; margin-left: 20%;">¡Apurate! ¡Estas en el {{user.position}}º lugar para ganar el viaje a Bariloche, solo te faltan {{user.kmsToBariloche}} kms!</p>
  <div class="step-counter-old-codes">
    <span> EDITAR INFORMACIÓN</span>
  </div>
  <form action="/auth/edit" method="post" onsubmit="return validateProfileForm()" name="profile-form">
    <fieldset>
      <input type="email" name="email" autocomplete="off" value="{{user.email}}">
      <label for="">Email</label>
    </fieldset>
    <fieldset>
      <input type="password" name="password" autocomplete="off">
      <label for="">Password</label>
    </fieldset>
    <fieldset>
      <input type="password" name="repeat" autocomplete="off">
      <label for="">Confirmar password</label>
    </fieldset>
    <p id="form-error-message"></p>
    <button type="submit" class="btn data-confirm">EDITAR</button>
  </form>
  <div class="logout-button">
    <a href="/logout">Cerrar Sesión</a>
  </div>
</div>